
/*Base code start*/

body,li,a,p,ul,table,th,td,tr,input,span,button,h1,h2,h3,h4,h5,h6,div,label,select{
  font-family: iransans!important;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  font-style: normal;
}
.no-bold {
  font-weight: normal;
}

/*Base code end*/
