/*Media query start*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  html, body {
	font-size: 12px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  html, body {
	font-size: 13px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  html, body {
	font-size: 14px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  html, body {
	font-size: 15px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  html, body {
	font-size: 16px;
  }
}

/*Media query end*/
